<!DOCTYPE html>
<html lang="ja" manifest="app.appcache">
<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=0.5,user-scalable=yes,initial-scale=1.0" />
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="UTF-8" />
  <title>WEB_APP_STORE</title>
<!--   <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
  <meta name="description" content="iOS用ウェブアプリストアです。" />
  <meta name="keywords" content="iOS,iPhone" />
  <meta name="author" content="きみづかふみたか" />
  <meta name="generator" content="SublimeText2" />
  <meta property="fb:app_id" content="829776800464163" />
  <meta property="og:title" content="WEB_APP_STORE" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://kimizuka.github.io/web-app-store-kit/" />
  <meta property="og:image" content="https://kimizuka.github.io/web-app-store-kit/img/web/ogp.png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:site_name" content="WEB_APP_STORE" />
  <meta property="og:description" content="iOS用ウェブアプリストアです。" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@ki_230" />
  <meta name="twitter:creator" content="@ki_230" />
  <meta name="twitter:title" content="WEB_APP_STORE">
  <meta name="twitter:description" content="iOS用ウェブアプリストアです。" />
  <meta name="twitter:image:src" content="https://kimizuka.github.io/web-app-store-kit/img/web/ogp.png" /> -->
<!--   <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" /> -->
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- <link rel="canonical" href="https://kimizuka.github.io/web-app-store-kit/" /> -->
</head>
<body>
  <div id="fb-root"></div>
  <div id="store">
    <div id="store-stage">
      <header id="store-header">
        <p class="icon"><img width="100" height="100" />
        <div class="info">
          <div class="inner">
            <h1 class="ttl">Smart おつかい</h1>
            <p class="author">Kenta Yogo</p>
          </div>
        </div>
      </header>
      <section id="store-screenshot">
        <h2 class="ttl">スクリーンショット</h2>
        <div class="scrollmask">
          <div class="scrollarea">
            <div class="screenshots">
              <img class="screenshot_first" src="./images/provider02.png"  width="192" height="288" />
              <img class="screenshot_second" src="./provider02.png" width="192" height="288" />
              <img class="screenshot_third" src="/assets//images/provider02.png" width="192" height="288" />
              <img class="screenshot_fourth" src="/app/assets/images/provider02.png"width="192" height="288" />
              <img class="screenshot_fifth" src="provider02.png" width="192" height="288" />
            </div>
          </div>
        </div>
      </section>
      <section id="store-description">
        <h2 class="ttl">説明</h2>
        <p class="txt">9月下旬公開予定<br/>「Smartにおつかいを」をコンセプトに作成されたアプリケーションです。<br/>
         シェアハウスや家族、夫婦向けのサービスになっております。<br/><br/>


        [アプリを作成するモチベーション]<br/>
        買い物時に<br/>
        1. slack/line/messagerだと買って来てほしい商品が伝わりにくい<br/>
        2. 現金を後で代わりに買った人に渡すのが面倒<br/>
        3. 金額ぴったりの現金がない場合のやり取りが面倒<br/>
        など、普段の買い物時に潜む、不便さを解消したいという思いがあります。<br/><br/>

        [特徴]<br/>
        1. 目的地までの到着時間/帰宅時間の自動算出により、時間を正確に伝えられる<br/>
        2. 事前に行く場所の商品データは全て取り込んであるので、検索や選択が楽<br/>
        3. 購入履歴/お気に入り順で選択できるので、普段選ぶ商品を簡単に購入できる<br/>
        4. オンラインでスマートに決済することができる<br/>
        5. お小遣いポイントがもらえるので、行く側も嬉しい<br/>
        6. ワンタップで到着した旨をユーザーにお知らせすることができる<br/><br/>

        updated by yogoken on 9/12
        </p>
      </section>
      <section id="store-download">
        <h2 class="ttl">ダウンロード方法</h2>
        <p class="txt">ホーム画面に追加ボタンからダウンロードすることができます。</p>
      </section>
      <footer id="store-footer"></footer>
    </div>
    <div id="store-balloon">
      <div id="store-balloon-icon"></div>
      <p id="store-balloon-text">ホーム画面に<br />追加</p>
    </div>
<!--     <div id="store-qr">
      <div id="store-qr-img">
        <p id="store-qr-txt">Sorry. This site is only for iOS.</p>
      </div>
    </div> -->
  </div>
<!--   <div id="app">
    <div id="app-stage"> -->
      <!--ここにアプリを書きます-->
   <!--  </div>
    <div id="app-menu">
      <input id="app-btnMenu" type="checkbox" />
      <ul id="app-menuList">
        <li id="app-btnReload" class="btn">RELOAD</li>
        <li id="app-btnClear" class="btn">DATA CLEAR</li>
      </ul>
    </div>
    <div id="app-loading"></div>
    <div id="app-splash"></div>
  </div> -->
  <script src="./js/lib/rooter.js"></script>
  <script src="./js/lib/qr.js"></script>
  <script src="./js/lib/stopPageScroll.js"></script>
  <script src="./js/lib/menuList.js"></script>
  <script src="./js/store.js"></script>
  <script src="./js/app.js"></script>
</body>
</html>